h1 {
  color: red;
  text-align: center;
  font-size: 70px;
}

h2 {
  color: gray;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: arial;
  color: white;
}

p {
  font-family: arial;
  text-align: left;
  color: white;
}

ol {
  font-family: arial;
  color: white;
}

ul {
  font-family: arial;
  color: white;
}

body {
  background-color: black;
}
