h1 {
  color: red;
  text-align: center;
}

h2 {
  color: gray;
  text-align: center;
}

h3 {
  font-family: arial;
}

p {
  font-family: arial;
  text-align: left;
}

ol {
  font-family: arial;
}

ul {
  font-family: arial;
}
